@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="text-center my-5">
        <h2>Project Name: E-Bikes MANAGEMENT</h2>
        <p class="lead">This project envisions a future where technology enhances every aspect of the business enjoyable for everyone.</p>
    </div>

    <div class="my-5">
        <h2 class="text-center mb-4">Our Team</h2>
        <div class="row">
            <div class="col-md-4 mx-auto mb-4">
                <div class="card">
                    <div class="card-body">
                        <p>
                            This project is developed using .NET WEB-APP <br />
                            I have implemented MUDBLAZOR for the UI and Entity Framework Core for the database.<br />
                            For the security of the application, I have Web Assembly authentication and authorization.<br />
                            The project uses SQL Server as the database and is hosted on Azure.<br />
                            The backend is connected to the database using Entity Framework Core, which allows for easy data manipulation and retrieval.<br />
                            I have implemented various NuGet packages to enhance the functionality of the application, including:<br />
                            <ul>
                                <li>Microsoft.AspNetCore.Identity</li>
                                <li>Microsoft.AspNetCore.Identity.EntityFrameworkCore</li>
                                <li>Microsoft.EntityFrameworkCore.SqlServer</li>
                                <li>Microsoft.EntityFrameworkCore.Tools</li>
                                <li>Microsoft.Extensions.Configuration</li>
                                <li>Microsoft.Extensions.Configuration.Json</li>
                                <li>Microsoft.Extensions.DependencyInjection</li>
                            </ul>
                            <br />
                            I have also implemented Application DBCONTEXT and Identity DBCONTEXT to manage the database connections and user authentication.<br />
                            The eBikesManagement contains sophisticated management system for PO,RECEVING,SALES and SERVICING of the bike rentals.
                        </p>
                        <p>
                            The project is designed to be user-friendly and efficient, allowing users to easily manage their bike rentals and services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center my-4">
        <p>&copy; @DateTime.Now.Year - Created by Abhinav Singh</p>
    </div>
</div>